In [1]:
import datetime

D = datetime.datetime.now()

D.ctime()

D.isocalendar()

D.isoformat()

D.isoweekday()

D.weekday()

3

In [2]:
from tkinter import *
tk = Tk()
canvas= Canvas(tk, width = 400, height = 400)
canvas.pack()
canvas.create_arc(10, 10, 200, 100, extent = 180, style = ARC)
tk.mainloop()

## NumPy

In [8]:
import numpy as np

d = np.random.randn(2, 3)

d

array([[-0.0261655 , -2.60231642, -1.60571368],
       [-1.80354025, -0.78674839,  2.430863  ]])

In [9]:
d = d * 10

d

array([[ -0.26165497, -26.02316415, -16.05713676],
       [-18.03540246,  -7.86748386,  24.30863001]])

In [10]:
d = d + d

d

array([[ -0.52330994, -52.04632831, -32.11427352],
       [-36.07080491, -15.73496772,  48.61726002]])

In [16]:
a = np.arange(10, 50)

a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

In [17]:
a = a ** 2

a

array([ 100,  121,  144,  169,  196,  225,  256,  289,  324,  361,  400,
        441,  484,  529,  576,  625,  676,  729,  784,  841,  900,  961,
       1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764,
       1849, 1936, 2025, 2116, 2209, 2304, 2401], dtype=int32)

In [18]:
a = a ** 0.5

a

array([10., 11., 12., 13., 14., 15., 16., 17., 18., 19., 20., 21., 22.,
       23., 24., 25., 26., 27., 28., 29., 30., 31., 32., 33., 34., 35.,
       36., 37., 38., 39., 40., 41., 42., 43., 44., 45., 46., 47., 48.,
       49.])

In [21]:
arr1 = np.arange(1, 6)

arr2 = np.arange(6, 11)

arr1 > arr2

array([False, False, False, False, False])

In [34]:
arr3 = np.random.randint(50, 100, 10)
arr3

array([93, 51, 74, 77, 51, 50, 59, 59, 71, 97])

In [38]:
arr4 = np.random.randint(10, 15, 3)

arr4.mean()

11.666666666666666

In [43]:
arr5 = np.random.randint(1, 30, (3, 4))

arr5

array([[25, 26, 15,  1],
       [16,  3, 19, 11],
       [28,  4, 12, 24]])

In [56]:
arr5[0][2:] = 7

arr5

array([[25, 26,  7,  7],
       [16,  3, 19, 11],
       [28,  4, 12, 24]])

In [50]:
arr5.sum(axis = 0) # sum of each column

array([69, 33, 38, 42])

In [52]:
arr5.sum(axis = 1) # sum of each row

array([65, 49, 68])

In [61]:
arr5.cumsum(axis = 1)

array([[25, 51, 58, 65],
       [16, 19, 38, 49],
       [28, 32, 44, 68]], dtype=int32)

In [62]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

data = np.random.randn(7, 4)

data

array([[ 0.21693174, -1.62154366, -0.23035235,  1.17085514],
       [-1.35494934,  0.50262368,  1.60436028, -0.04900507],
       [ 0.39329038,  2.78694848,  0.50301085, -0.72678573],
       [ 0.54047772, -1.52607552, -0.06481908,  0.44460856],
       [ 0.50543322,  0.5295317 , -0.61687268, -1.85365955],
       [ 0.19996699, -0.21552019,  0.68536919, -0.2762321 ],
       [-0.9642195 ,  1.32911789,  0.84008801, -0.48899424]])

In [63]:
names == 'Bob'

array([ True, False, False,  True, False, False, False])

In [64]:
data[names == 'Bob']

array([[ 0.21693174, -1.62154366, -0.23035235,  1.17085514],
       [ 0.54047772, -1.52607552, -0.06481908,  0.44460856]])

In [65]:
data[names == 'Bob', 2:]

array([[-0.23035235,  1.17085514],
       [-0.06481908,  0.44460856]])

In [66]:
data[names == 'Bob', 3]

array([1.17085514, 0.44460856])

In [69]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [71]:
mask = (names == 'Bob') | (names == 'Will')

In [72]:
data[mask]

array([[ 0.21693174, -1.62154366, -0.23035235,  1.17085514],
       [ 0.39329038,  2.78694848,  0.50301085, -0.72678573],
       [ 0.54047772, -1.52607552, -0.06481908,  0.44460856],
       [ 0.50543322,  0.5295317 , -0.61687268, -1.85365955]])

In [74]:
data[names != 'Joe'] = 7

data

array([[ 7.        ,  7.        ,  7.        ,  7.        ],
       [-1.35494934,  0.50262368,  1.60436028, -0.04900507],
       [ 7.        ,  7.        ,  7.        ,  7.        ],
       [ 7.        ,  7.        ,  7.        ,  7.        ],
       [ 7.        ,  7.        ,  7.        ,  7.        ],
       [ 0.19996699, -0.21552019,  0.68536919, -0.2762321 ],
       [-0.9642195 ,  1.32911789,  0.84008801, -0.48899424]])

In [77]:
arr6 = np.empty((8, 4))

for i in range(8):
    arr6[i] = i

arr6

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [85]:
arr6[[4, 3, 0, 6]]

array([[4., 4., 4., 4.],
       [3., 3., 3., 3.],
       [0., 0., 0., 0.],
       [6., 6., 6., 6.]])

In [84]:
arr6[[-3, -5, -7]]

array([[5., 5., 5., 5.],
       [3., 3., 3., 3.],
       [1., 1., 1., 1.]])

In [104]:
arr7 = np.arange(16).reshape(2, 2, 4)

arr7

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [105]:
arr7.T

array([[[ 0,  8],
        [ 4, 12]],

       [[ 1,  9],
        [ 5, 13]],

       [[ 2, 10],
        [ 6, 14]],

       [[ 3, 11],
        [ 7, 15]]])

## Pandas

In [107]:
import pandas as pd

In [114]:
obj = pd.Series(['python', 'java', 'c'])

obj

0    python
1      java
2         c
dtype: object

In [113]:
obj = pd.Series(['python', 'java', 'c'], index = ['pl1', 'pl2', 'pl3'])

obj

pl1    python
pl2      java
pl3         c
dtype: object